{% macro render_track(track, html_id) %}
    {% if track.trackname and track.trackname not in ["", "track_0"] and track.track_id != 0 %}
        <div class="track-info">
            <h2 class="track-title">
                <a id="{{html_id}}_downrate" class="rater hate" onclick="quickrate('{{ track.track_id }}', '{{ html_id }}', -1)" href="#" >-</a>
                <a id="{{html_id}}" class="track-name {{track.color }}" href="/track/{{ track.track_id }}">{{ track.trackname }}</a>
                <a id="{{html_id}}_uprate" class="rater love" onclick="quickrate('{{ track.track_id }}', '{{ html_id }}', 1)" href="#">+</a>    
            </h2>
        </div>
    {% endif %}
{% endmacro %}