  <p class="lead">Users</p>
  <table>
      {% for user in activeusers %}
      <tr><td>{{ user }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Tasks</p>
  <table>
      {% for a in tasks %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Queue</p>
  <table>
      {% for a in queue %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Recommendations</p>
  <table>
      {% for a in recommendations %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Recently Played</p>
  <table>
      {% for a in recents %}
      <tr><td>{{ a}}</td></tr>
      {% endfor %}
  </table>

{% endblock %}


---------------------------------------------------------------------
{% extends 'base.html' %}
{% block content %}

{% if w.track.trackname != w.nextup.trackname %}
<h3>you are listening to</h3>
<h1>{{ w.track.trackname }}</h1>
{% endif %}

<h3>the current recommendation is</h3>
<h1>{{ w.nextup.trackname }}</h1>

<h3>actively vibing</h3>
<table>
    {% if w.track.trackname == "Not Playing" %}
        <tr><td>click an active listener if you're listening with them</td></tr>
        {% for user in w.activeusers %}
        <tr><td><a href="/follow/{{ user }}">now playing</a></td></tr>
        {% endfor %}
    {% else %}
        {% for user in w.activeusers %}
        <tr><td>{{ user }}</td></tr>
        {% endfor %}
    {% endif %}
</table>

<h3>some recent recommendations were</h3>
<table>
    {% for name in w.history %}
    <tr><td>{{ name }}</td></tr>
    {% endfor %}
</table>



{% endblock %}