{% extends 'base.html' %}

{% block content %}

  <h1>Dashboard</h1>
  
  <p class="lead">Users</p>
  <table>
      {% for a in users %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Tasks</p>
  <table>
      {% for a in tasks %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Queue</p>
  <table>
      {% for a in queue %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Recommendations</p>
  <table>
      {% for a in recommendations %}
      <tr><td>{{ a }}</td></tr>
      {% endfor %}
  </table>

  <p class="lead">Recently Played</p>
  <table>
      {% for a in recents %}
      <tr><td>{{ a}}</td></tr>
      {% endfor %}
  </table>

{% endblock %}