{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block content %}

<section aria-labelledby="current-track-section">
    <h3 id="current-track-section">playing</h3>
    {{ macros.render_track(w.track, "currently") }}
</section>    

<section aria-labelledby="upcoming-track-section">
    <h3 id="upcoming-track-section">next</h3>
    {{ macros.render_track(w.nextup, "nextup") }}
</section>

{% if w.users|length > 0 %}
    <h3>with</h3>
    <ul>
            {% for id, user in w.users.items() %}
                <li>
                    <a id="user_{{user.user_id}}" href="/user/{{user.user_id}}" class="{{ user.color }}">{{ user.displayname }}</a>
                </li>
            {% endfor %}
            </ul>
{% endif %}

<h3>some recent tracks were</h3>

<ul>
    {% for track in w.history %}
        {% if track.trackname != w.track.trackname and track.trackname != w.nextup.trackname %}
            <li><a href="/track/{{track.track_id}}" class="{{ track.color }}">{{ track.trackname }}</a></li>
        {% endif %}
    {% endfor %}
</ul>


{% endblock %}