{% extends 'base.html' %}
{% block content %}

<h3>you are listening to</h3>

{% if w.track.trackname != w.nextup.trackname and w.track.trackname is not none %}
<h2>
    <a href="/track/{{w.track.track_id}}/rate/{{w.track.rating - 1}}" class="rater">-</a>
    <a href="/track/{{w.track.track_id}}" class="{{w.track.color}}">{{ w.track.trackname }}</a>
    <a href="/track/{{w.track.track_id}}/rate/{{w.track.rating + 1}}" class="rater">+</a>

</h2>

<h3>coming up next</h3>
{% endif %}

<h1>
    <a href="/track/{{w.nextup.track_id}}/rate/{{w.nextup.rating - 1}}" class="rater">-</a>
    <a href="/track/{{w.nextup.track_id}}" class="{{w.nextup.color}}">{{ w.nextup.trackname }}</a></h1>
    <a href="/track/{{w.nextup.track_id}}/rate/{{w.nextup.rating + 1}}" class="rater">+</a>

{% if w.users|length > 0 %}
<h3>actively vibing</h3>

<table>
        {% for id, user in w.users.items() %}
        <tr><td><a href="/" class="{{ user.color }}">{{ user.displayname }}</a></td></tr>
        {% endfor %}
</table>
{% endif %}

<h3>some recent tracks were</h3>

<table>
    {% for track in w.history %}
    {% if track.trackname != w.track.trackname and track.trackname != w.nextup.trackname %}
    <tr>
        <td><a href="/track/{{track.track_id}}" class="{{ track.color }}">{{ track.trackname }}</a></td>
        <td>{% for u in track.listeners %} {{ u }} {% endfor %}</td>
        <td class="timestamp">{{ track.timestamp }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


{% endblock %}