{% extends 'base.html' %}

{% block content %}

{% if targetid %}<h2>listening with {{targetid}}</h2>{%endif%}
<h1> {{ np_name }} </h1>

<h2>Recently Played</h2>
<table>
    {% for date in history %}
    <tr><td>{{ date }}</td></tr>
    {% endfor %}
</table>


<h2>Active Listeners</h2>
<table>
    {% if np_name == "Not Playing" %}
        <tr><td>click an active listener if you're listening with them</td></tr>
        {% for user in activeusers %}
        <tr><td><a href="/follow/{{ user }}">{{user}}</a></td></tr>
        {% endfor %}
    {% else %}
        {% for user in activeusers %}
        <tr><td>{{ user }}</td></tr>
        {% endfor %}
    {% endif %}
</table>



{% endblock %}