{% extends 'base.html' %}
{% block content %}

<h1><a href="/track/{{w.track.track_id}}/rate/{{w.track.rating - 1}}" class="rater">-</a>
  {{ w.track.trackname }}
  <a href="/track/{{w.track.track_id}}/rate/{{w.track.rating + 1}}" class="rater">+</a>
</h1>

<p>comment on this track:</p>
<form method="post" action="/track/{{w.track.track_id}}">
  <input type="text" name="comment" value="{{w.track.comment}}">
</form>


{% if w.ratings|length > 0 %}
  <h3>people who have rated this</h3>
  <table>
    {% for rating in w.ratings %}
      <tr>
        <td> 
          <a href="/user/{{rating.userid}}" class="{{ rating.color }}">{{ rating.displayname }}</a>
        </td>
        <td>
          {% if rating.comment != None %} {{rating.comment}} {% endif %}
        </td>

        <td> {% if rating.last_played != "54 years ago" %} {{rating.last_played}} {% endif %}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}


{% if history|length > 0 %}
  <h3>times this was played</h3>
  <table>
    {% for each in history %}
      <tr>
        <td>{{each}}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}