{% extends 'base.html' %}
{% block content %}

<h1>{{ w.track.trackname }}</h1>

{% if w.ratings|length > 0 %}
  <h3>people who have rated this</h3>
  <table>
    {% for rating in w.ratings %}
      <tr>
        <td> <a href="/user/{{rating.userid}}" class="{{ rating.color }}">{{ rating.displayname }}</a> </td>
        <td> {% if rating.last_played != "54 years ago" %} {{rating.last_played}} {% endif %}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}


{% if history|length > 0 %}
  <h3>times this was played</h3>
  <table>
    {% for each in history %}
      <tr>
        <td>{{each}}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% endblock %}