{% extends 'base.html' %}
{% block content %}

<h1 class="d-flex justify-content-between align-items-center">
    <a href="/track/{{w.track.track_id}}/rate/{{w.track.rating - 1}}" class="rater hate display-4 display-md-1">-</a>
    <span class="mx-2 text-center flex-grow-1 text-wrap">
        <a href="/track/{{w.track.track_id}}" class="{{w.track.color}}">{{ w.track.trackname }}</a>
    </span>
    <a href="/track/{{w.track.track_id}}/rate/{{w.track.rating + 1}}" class="rater love display-4 display-md-1">+</a>
    
</h1>

<p>comment on this track:</p>
<form method="post" action="/track/{{w.track.track_id}}">
  <input type="text" name="comment" value="{{w.track.comment}}">
</form>


{% if w.ratings|length > 0 %}
  <h3>people who have rated this</h3>
  <ul>
    {% for rating in w.ratings %}
        <li> 
          <a href="/user/{{rating.userid}}" class="{{ rating.color }}">{{ rating.displayname }}</a>
          {% if rating.comment != None and rating.comment != "" %} - {{rating.comment}} {% endif %}
          {% if rating.last_played != "54 years ago" %} - {{rating.last_played}} {% endif %}</li>
    {% endfor %}
  </ul>
{% endif %}


{% if history|length > 0 %}
  <h3>times this was played</h3>
  <ul>
    {% for each in history %}
        <li>{{each}}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}