{% extends 'base.html' %}
{% block content %}

<h1>
  {{ u.displayname }}
</h1>

{% if u.user_id != w.user.id %}

  <p><a href="/user/{{u.user_id}}/follow">I'm listening along with this user's player</a></p>

  {% if w.user.role == 'admin' %}
  <p><a href="/user/{{u.user_id}}/impersonate">impersonate this user</a></p>
  {% endif %}

  {% endif %}

{% if w.user.user_id == u.user_id %}
<p>>set your displayname:</p>
<form method="post" action="/user/{{u.user_id}}">
  <input type="text" value="{{u.displayname}}">
</form>
{% endif %}

{% endblock %}