{% extends 'base.html' %}
{% block content %}

<h1>
  {{ u.displayname }}
</h1>

{% if u.user_id != w.user.id and w.user.role == 'admin' %}
  <p><a href="/user/{{u.user_id}}/follow">I'm listening along with this user's player</a></p>
  <br>
  <p><a href="/user/{{u.user_id}}/impersonate">impersonate this user</a></p>
  {% endif %}

  {% endif %}

{% if w.user.id == u.user_id %}
<p>set your displayname:</p>
<form method="post" action="/user/{{u.user_id}}">
  <input type="text" name="displayname" value="{{u.displayname}}">
</form>

<br><br><br><br><br><br><br><br><br>
<hr>
<p>Delete your Mercury Radio account and all 
  associated records.  This won't affect 
  your Spotify account.</p>
<h3>DANGER</h3>
<p>This will delete your Mercury Radio user record, all your track ratings,
and all your play histories.  It is not recoverable.
It will not ask for confirmation.  It will just destroy.</p>
<br>
<a href="/user/{{ u.user_id }}/nuke">nuke me</a>

{% endif %}

{% endblock %}